{{page-title "Ad Skipper"}}

{{!-- <div class="flex items-start justify-center min-h-screen bg-gray-100">
  <div class="md:w-1/2 mt-10 w-full px-3"> --}}
    {{!-- <SearchPodcast/> --}}
  {{!-- </div>
</div> --}}

{{!-- media player --}}


{{#if (eq this.router.currentRoute.name 'play.episode')}}
  {{outlet}}
{{else}}
  <SearchPodcast/>
{{/if}}

